<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- File Appender for Equipe module -->
        <RollingFile name="EquipeFile" 
                     fileName="logs/equipe.log"
                     filePattern="logs/equipe-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Logger spécifique pour le module Equipe -->
        <Logger name="tn.esprit.spring.kaddem.services.EquipeServiceImpl" level="debug" additivity="false">
            <AppenderRef ref="EquipeFile"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Root Logger -->
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
